.jumbotron{
    background-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.titulo{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0 .5rem;
    -webkit-text-stroke: 2px black;
    color: #fff;
}

.parrafo{
    line-height: 1.5;
    background-color: #fff;
    padding: .5rem 1rem;
}