html{
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,*:before,*:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Raleway', sans-serif !important;
  background-image: url('./assets/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}